mixin items(works)
	each work in works
		.list_item
			a.item_rm.work(href='#', id=work._id) удалить
			a.item_title(href='/admin/works/edit/' + work._id, class=work.status =='hidden' ? 'hidden': '')= work.title || '!!! ПУСТОЕ ПОЛЕ !!!'
			span= ' | '
			span.item_images= work.images.length
			if work.poster
				span= ' + '
				span.item_poster= 'p'

mixin counters(count, skip)
	a.list_back(href='#'): b назад
	span= ' - '
	select.list_select
		- var i = 0;
		while i < count
			option(value=i selected= (i == skip / 10) )= i+1
			- i++
	span= ' - '
	a.list_next(href='#'): b вперед


if load_list
	.list_items
		+items(works)
	.list_counter
		+counters(count, skip)