extends layout

block paths
	- var content_title= 'alina saulova / works / ' + work.title.toLowerCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/swiper.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/work.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/swiper.jquery.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/work.js' + version)

block title
	span= work.title

block content
	.work_description!= work.description
	each item in images
		if item.length
			- var g_size = 'g_800'
			if item.every(function(item) { return item.size == 600 })
				- g_size = 'g_600'
			else if item.every(function(item) { return item.size == 400 })
				- g_size = 'g_400'
			.gallery-block(class=g_size)
				.swiper-container.gallery-top: .swiper-wrapper
					each image in item.reverse()
						.swiper-slide(style='background-image:url(' + image.thumb  + ')')

				.swiper-container.gallery-thumbs: .swiper-wrapper
					each image in item
						.swiper-slide(style='background-image:url(' + image.thumb  + ')')
		else
			- var sizes = ['size_400', 'size_600', 'size_800' ]
			img.image(src=item.thumb, class=sizes[sizes.indexOf('size_' + item.size)])